---
---

@charset "utf-8";

img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}
  

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__subtitle {
    font-size: 1.563em;
}

.archive__item-excerpt {
    margin-top: 0;
    font-size: 1em;
}
